h2{
    margin: 20px 0 20px 0;
}

input[type='checkbox']{
    margin: 0 5px 0 0;
}

#dirtyText{
    width: 100%;
    height: 400px;
    padding: 19px;
    margin: 10px 0 10px 0;
}

#cleanTextOutput{
    height: 400px;
    width: 100%;
    margin: 30px 000;
}

.centerElements{
    text-align: center;
}


/* TO DO */
/* 
- column header style? i.e. OutPut and checkboxes are the same height. Does it work without anything in DIV?
*/
